entrypoint = "server.mjs"
language = "javascript"
run = "PORT=5000 npm run serve"
onBoot = "npm ci"
hidden = ["node_modules"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
build = "npm ci && npm run verify"
run = "PORT=5000 npm start"
